@page
@using ChangeScheduler.Web.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome</h1>
    <p>A simple CRUD application to keep track of future password changes for accounts in the CyberArk tool. Mostly an excuse to learn C#.</p>
</div>
